<div class="terminal" data-commands="{{ (T "terminal.command_params") | htmlEscape }}">
  <div class="terminal__blurred">
    <span class="terminal__blurred__line">
      <span>root@tarasa24.dev:$</span>
      <span class="textfield">echo </span>
      <span class="caret">_</span>
    </span>
    <span class="terminal__blurred__line" style="visibility: hidden;">
      <span>root@tarasa24.dev:$</span>
      <span class="textfield"></span>
      <span class="caret">_</span>
    </span>
  </div>

  <div class="terminal__output">
    <hgroup>
      <h1></h1>
      <span class="caret">_</span>
    </hgroup>
  </div>
</div>