# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Hugo
public/
resources/

# Project content and images
hugo/content/*/projects/*.md
hugo/static/assets/img/projects/*

# Python
.venv